{%
    set componentId = entity_type ~ '_' ~ entity_id
%}
<h4 class="card-title m-t-20 split cursor-pointer" data-toggle="collapse" data-target="#collapseMoreInfo"
    aria-expanded="false" aria-controls="collapseMoreInfo">{{ 'HISTORY' | trans }}
</h4>
<hr>
<div class="collapse show" id="collapseMoreInfo">
	<div id="timelineContainer_{{ componentId }}">
		
	</div>
</div>
<script>
function loadTimeline{{ componentId }}(){
        $("#timelineContainer_{{ componentId }}").html('<div class="text-center"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></div>');
        $.ajax({
        url: '{{ path('api_auditLogs') }}?entity_id={{ entity_id }}&entity_type={{ entity_type }}',
        type: 'GET',
        crossDomain: true,
        success: function(data) {
            var html=``;
            count=0;
            $.each( data.data, function( index, item ){
                var d = new Date(item.createdAt);
                item.description=(item.eventData)?item.eventData:'';
                var stringDate=`${(d.getDate()<10?'0':'') + d.getDate()}/${(d.getMonth()+1)}/${d.getFullYear()} ${(d.getHours()<10?'0':'') + d.getHours()}:${(d.getMinutes()<10?'0':'') + d.getMinutes()}`
                if(item.user)
                    var username=item.user.name;
                else
                    var username='Automático'
                var icon='';
                var classColor='';
                if(item.action=='insert'){
                    icon='<i class="fas fa-plus"></i>'
                    classColor='success'
                }else{
                    icon='<i class="fas fa-refresh"></i>'
                    classColor='warning'
                }
                if((count%2)==0){
                    html+=`<li>
                        <div class="timeline-badge ${classColor}">${icon}</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">${username}</h4>
                                    <p>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i> ${stringDate}</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>${item.description}</p>
                                </div>
                            </div>
                        </li>`;
                }else{
                    html+=`<li class="timeline-inverted">
                        <div class="timeline-badge ${classColor}">${icon}</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">${username}</h4>
                                    <p>
                                        <small class="text-muted"><i class="fa fa-clock-o"></i> ${stringDate}</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>${item.description}</p>
                                </div>
                            </div>
                        </li>`;
                }
                count++;
            });
            $("#timelineContainer_{{ componentId }}").html(`<ul class="timeline">${html}</ul>`);
        },  
        complete:function(){
            
        },
        error: function(data, status, error) {
            
        }
    });
}
$(function (){
    loadTimeline{{ componentId }}();
});
</script>